section.all-service
	.container
		.title-3
			h3 Транспортные услуги компании:
		.section-block.section-block--service-list
			.row
				.col-md-4
					.service-list-column
						ul
							li Перевозки габаритных грузов 
							li Перевозки в рефрижераторах 
							li Перевозки сборных грузов
				.col-md-4
					.service-list-column
						ul
							li Перевозки габаритных грузов 
							li Перевозки в рефрижераторах 
							li Перевозки сборных грузов
				.col-md-4
					.service-list-column
						ul
							li Перевозки габаритных грузов 
							li Перевозки в рефрижераторах 
							li Перевозки сборных грузов
		.slogan-block
			.icon-item
				img(src="img/icons/info.png", alt="icon")
			p ООО «ТК Магистраль» - одна из немногих компаний, которая не снизила требования к качеству услуг, под действием условий жесткой конкуренции на рынке автомобильных грузоперевозок. Мы по-прежнему убеждены, что качество и скорость работы превыше всего и поэтому выдвигаем строгие требования к техническому состоянию транспорта и квалификации водителей.