section.about
	.container
		+breadcrm(['Главная', 'О компании'] )
		article.aboutus
			.row
				.col-xl-7
					.title-2
						h2 О транспортной компании NESCO
					.about-text
						p #[img(src="img/about/1.jpg",  style="float: right" alt="img")] Мы рады приветствовать Вас на официальном сайте транспортно-экспедиционной компании - NESCO.
							
						
						p Наша компания предоставляет комплекс услуг, связанных с транспортировкой, хранением и складированием грузов на территории РФ и в странах СНГ. Сотрудники компании стараются быть инициативными и гибкими в работе с Заказчиками. Мы предлагаем уникальные логистические решения самых сложных задач, при этом даем гарантии безопасности груза и удобства в работе! 
						p Для достижения максимально качественного результата и удовлетворения Ваших потребностей в транспортировке грузов, NESCO увеличивает собственный автопарк, вкладывает средства в оборудование их современными средствами слежения и контроля. Сегодня мы располагаем всеми ресурсами, необходимыми для выполнения самых сложных задач!
				
				.d-md-none.d-xl-block.col-xl-5
					.about-img
						img(src="img/about/1.jpg",  style="float: right" alt="img")