section.select-path
	.container
		+breadcrm(['Главная', 'Грузоперевозка Адыгейск - Нижний Новгород'] )
		article.transportation-types
			.title-2
				h2 Грузоперевозка Адыгейск - Нижний Новгород
			.select-path-form
				.select-path-button#selectPathBtn
					.btn-icon +
					span Изменить маршрут
				
				.section-block.section-block--form
					form(action="").calc-form
						.row
							.col-sm-6
								//поле Откуда
								.select-block.form-group
									.error-notify !
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="city_from "  value="" placeholder="Откуда").filters-form-input
									.select-block-drop.hide
										p.select-option(data-value='Москва') Москва
										p.select-option(data-value='Санкт-Петербург') Санкт-Петербург
										p.select-option(data-value='Воронеж') Воронеж
							.col-sm-6
								//поле Куда
								.select-block.form-group
									.error-notify !
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="city_where " placeholder="Куда"  value="").filters-form-input
									.select-block-drop.hide
										p.select-option(data-value='Москва') Москва
										p.select-option(data-value='Санкт-Петербург') Санкт-Петербург
										p.select-option(data-value='Воронеж') Воронеж
							
							.col-sm-6
								button.page-btn.page-btn--send.w-100(type="submit") Рассчитать

section.path-map
	.container
		.row
			.col-md-6
				.map-wrapper
					script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2c11088eeb43aaee6abaa20dabb14dc67db4e1b6263b38a7677a89cef7b89a17&amp;lang=ru_RU&amp;scroll=true")
			.col-md-6.col-lg-6
				.path-info
					.path-info-city
						p Адыгейск 
						p Нижний Новгород
					.path-info-details
						.details-item
							span Расстояние
							span 1575 км.
						.details-item
							span Время доставки:
							span 17 ч. 53 мин.

		article.best-condition
			.title-3
				h3 Лучшие условия на превозку грузов по вашему направлению:
			
			ul
				li Перевозки габаритных грузов 
				li Перевозки в рефрижераторах 
				li Перевозки сборных грузов
		
		article.custom-price
			.title-3
				h3 Цены на грузоперевозку Адыгейск - Нижний Новгород, #[span.details-info при полной загрузке:] 
			.custom-price-table
				.custom-price-table__col
					.custom-price-title
						p Тентованная фура
					.custom-price-val
						p 15 452 руб. *
				.custom-price-table__col
					.custom-price-title
						p Рефрижиратор
					.custom-price-val
						p 23 652 руб. * 
				.custom-price-table__col
					.custom-price-title
						p  Трал низкорамный
					.custom-price-val
						p 41 652 руб. *
			.custom-price-table__note
				p * указанная стоимость перевозки является минимальной и может быть изменена после уточнения всех нюансов нашими специалистами.
		
		article.custom-characteristic
			.title-3
				h3 Особенности грузоперевозки по маршруту Адыгейск - Нижний Новгород:
			.custom-characteristic__text.basic-text
				p На территории нашей страны действуют строгие ограничения на провоз по местным и федеральным трассам грузов, вес которых превышает 40 тонн, длина 20, ширина 2,5, а высота 4 метра (с учетом автопоезда). Объекты, чьи массогабаритные параметры выходят за рамки указанных характеристик, можно транспортировать, только получив специальное разрешение на негабаритные перевозки. Зачастую перевозки негабарита сопровождаются машиной прикрытия, оборудованной проблесковыми маячками и специальными цветографическими схемами и знаками. Для некоторых грузов требуется разработка «спец. маршрута», согласование которого может достигать до нескольких месяцев. 
				p Наша компания высоко ценит надежность и гарантии сохранности груза. Поэтому мы страхуем все перевозимые грузы, независимо от степени риска. Страховой полис включен в стоимость наших услуг. Специалисты компании берут на себя обязательства обеспечить перевозку всеми необходимыми документами и не допустить простоя по этой причине. В процессе согласования наши специалисты тщательно прорабатывают маршрут с учётом локальных требований по максимальной нагрузке на дорожное полотно по пути следования. Благодаря этому риск задержек в пути и нарушения сроков доставки сводится к нулю. 

			
