section.calculation
	.container
		form.calc-form(action="" method="POST")
			.row
				.col-md-6
					.calc-form-column
						.calc-form-img
							img(src="img/index/2.jpg", alt="img")
							a(href="#!").show-fields Рассчитать стоимость
				.col-md-6
					.calc-form-column
						.title-3
							h3 Получите предложение на перевозку Вашего груза:
						.form-group
							input(type="text" name="userName" placeholder="Имя")
							.error-notify !
						.form-group
							input(type="tel" name="userPhone" placeholder="Телефон")
							.error-notify !
							a(href="#!").show-fields.show-fields--mob Рассчитать стоимость	
						
			#form-part.hide
				.row
					.col-md-6
						.calc-form-column
							.select-block.form-group
								.error-notify !
								i.fas.fa-angle-down.input-arrow
								input(type="text" name=" "  value="" placeholder="Откуда").filters-form-input
								.select-block-drop.hide
									p.select-option(data-value='Москва') Москва
									p.select-option(data-value='Санкт-Петербург') Санкт-Петербург
									p.select-option(data-value='Воронеж') Воронеж
							.select-block.form-group
								.error-notify !
								i.fas.fa-angle-down.input-arrow
								input(type="text" name=" " placeholder="Откуда"  value="").filters-form-input
								.select-block-drop.hide
									p.select-option(data-value='Москва') Москва
									p.select-option(data-value='Санкт-Петербург') Санкт-Петербург
									p.select-option(data-value='Воронеж') Воронеж
							.form-group.form-group--half
								.form-group-item
									.error-notify !
									input(type="text" name="wt" placeholder="Вес")
								.form-group-item
									.error-notify !
									input(type="text" name="volume" placeholder="Объем")
							.select-block.form-group
								.error-notify !
								i.fas.fa-angle-down.input-arrow
								input(type="text" name="carType"  placeholder="Требуемый транспорт" value="").filters-form-input
								.select-block-drop.hide
									p.select-option(data-value='Газель') Газель
									p.select-option(data-value='Камаз 10т') Камаз 10т
									p.select-option(data-value='Камаз 20т') Камаз 20т
									
					.col-md-6
						.calc-form-column
							.form-group
								textarea(name="message"  placeholder="Сообщение")
								.error-notify !
			.form-btn
				.checkbox-group
					label.form-label
						input(type="checkbox"  name="form-checkbox").form-checkbox
						span.custom-checkbox
						span.agree-politic Отправляя форму, Вы принимаете #[a(href="#") условия обработки] Ваших данных
				button.page-btn.page-btn--send Отправить запрос

						

