footer.footer
	.footer-top
		.container
			.navigation-content
				.row
					.col-4.col-md-2
						.logo
							a(href="index.html")
								img(src="img/logo2.png", alt="logo")
								
					.d-none.d-md-block.col-md-3.col-xl-2.offset-xl-1
						.footer-nav
							ul
								li
									a(href="about.html") О компании
								li
									a(href="transportation-types.html") Виды грузоперевозок
						
					.d-none.d-md-block.col-md-2
						.calc-btn
							a(href="calculate.html") Рассчитать стоимость
				
					.col-8.col-md-3.col-xl-2.offset-xl-1
						.contacts
							+contactBlock([{link: "#", text:'8(800)999-99-99', iconClass: 'fas fa-phone-alt'}, {link: "#", text:'info@mail.com', iconClass: 'fas fa-envelope'}])
					
					.d-none.d-md-block.col-md-2
						+pageBtn('button', 'Заказать звонок', 'page-btn--header')
	.footer-copyright
		.container
			.footer-copyright-wrapper
				.footer-copyright-col
					p © NESCO 2020
				.footer-copyright-col
					a(href="#") Политика конфиденциальности