section.our-team
	.container
		.title-3
			h3 Наша команда:
		.team-inner
			.row
				.col-sm-6.col-lg-3
					.team-card
						.card-photo
							img(src="img/team/team1.jpg", alt="photo")
						.card-text
							p Александр Гамбург
							p Генеральный директор

				.col-sm-6.col-lg-3
					.team-card
						.card-photo
							img(src="img/team/team2.jpg", alt="photo")
						.card-text
							p Александрa Гамбург
							p Директор по логистике
				.col-sm-6.col-lg-3
					.team-card
						.card-photo
							img(src="img/team/team3.jpg", alt="photo")
						.card-text
							p Юлия Березняк
							p Главный бухгалтер
				.col-sm-6.col-lg-3
					.team-card
						.card-photo
							img(src="img/team/team4.jpg", alt="photo")
						.card-text
							p Ольга Иконникова
							p Начальник юр. отдела