//необходимые документы
section.docs
	.container
		.title-3.text-center
			h3 Полный пакет необходимых документов
			.section-block
				.row.align-items-center
					.col-md-6.col-xl-4.offset-xl-1
						.docs-list
							ul
								li Договор транспортной экспедиции 
								li Счет на оплату 
								li Заявка на грузовую перевозку 
								li Экспедиторская расписка 
								li Транспортная накладная 
								li Товарно-транспортная накладная 
								li УПД/Акт + Счет-фактура
					.col-md-6
						.docs-img
							img(src="img/index/docs.png", alt="image")