//секция Лучшие условия
section.benefits
	.container
		.section-block
			.row
				.col-md-6.offset-md-3.col-xl-5.offset-xl-0
					.block-img
						img(src="img/index/1.jpg", alt="image")
				.col-xl-7
					.benefits-content
						.title-2
							h2 Лучшие условия на автомобильные грузоперевозки по России и СНГ
						.medium-text
							p Получите предложение в течении получаса после запроса
						.benefits-table
							.benefits-item
								.benefits-title
									p  От 35 руб/км
								.benefits-info
									p на большинство направлений
							.benefits-item
								.benefits-title
									p  500 автопоездов 
								.benefits-info
									p в управлении компании
							.benefits-item
								.benefits-title
									p  0,5% страхование
								.benefits-info
									p груза от его стоимости
						+pageBtn('button', 'Заказать перевозку', 'page-btn--long')(data-toggle="modal" data-target="#transportationForm")