section.partners
	.container
		.title-3
			h3 Наша парнеры:
		.partners-slider.owl-carousel
			.partner-logo
				img(src="img/partners/part1.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part2.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part3.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part4.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part1.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part2.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part3.png", alt="logo")
		
			.partner-logo
				img(src="img/partners/part4.png", alt="logo")