mixin transportation-types( img, title, dataIndex, addClass )
	.col-md-6.col-lg-4
		a(href="#descripBox" data-card=dataIndex class="transportation-types-item "+ addClass)
			button.btn-more Подробнее
			.transportation-types-img
				img(src="img/transport-types/"+ img+".jpg", alt="img")
			.transportation-types-title
				span
					img(src="img/icons/"+ img +".png", alt="icon")
				h4 !{title}


section.transportation
	.container
		+breadcrm(['Главная', 'Виды грузоперевозок'] )
		article.transportation-types
			.container
				.title-2
					h2 Виды грузоперевозок компании NESCO
				.transportation-types-wrapper
					.row
						+transportation-types('type1','Грузоперевозки по России', '1' )
						+transportation-types('type2','Перевозки негабаритных грузов', '2' )
						+transportation-types('type3','Перевозки с температурным режимом', '3', 'fix-width' )
						+transportation-types('type4','Перевозки опасных грузов', '4' )
						+transportation-types('type5','Перевозки спецтранспортом', '5' )
						+transportation-types('type6','Перевозки сборных грузов', '6' )
				#descripBox
					.section-block
						.transportation-types-description(data-info="1")
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Грузоперевозки по России
							.basic-text
								p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
								p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн. 
						.transportation-types-description.show(data-info="2" )
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Перевозки негабаритных грузов
							.basic-text
								p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
								p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн.

						.transportation-types-description(data-info="3" )
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Перевозки с температурным режимом
							.basic-text
								p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
								p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн.
						.transportation-types-description(data-info="4" )
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Перевозки опасных грузов
							.basic-text
								p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
								p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн.
						.transportation-types-description(data-info="5" )
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Перевозки спецтранспортом
							p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
							p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн.
						.transportation-types-description(data-info="6" )
							img(src="img/transport-types/type2-big.jpg", style="float:right" alt="img")
							.title-3
								h3 Перевозки сборных грузов
							.basic-text
								p  NESCO осуществляет перевозки негабаритных грузов в регионы России и СНГ. За время работы специалисты нашей компании обеспечили перевозки более 160 единиц тяжёлой спецтехники, более 200 комбайнов, выполнено более 500 проектов по перевозке тяжеловесных грузов. 
								p За счет точно выстроенной организационной структуры компании и слаженной работе специалистов различных служб, а также наличию собственного специализированного автомобильного транспорта, мы имеем возможность организовывать регулярные перевозки негабаритных грузов массой до 100 тонн.
section.transportation-rules
	.container
		.title-3
			h3 Правила перевозки негабарита по России и особенности законодательства
		.basic-text
			p На территории нашей страны действуют строгие ограничения на провоз по местным и федеральным трассам грузов, вес которых превышает 40 тонн, длина 20, ширина 2,5, а высота 4 метра (с учетом автопоезда). Объекты, чьи массогабаритные параметры выходят за рамки указанных характеристик, можно транспортировать, только получив специальное разрешение на негабаритные перевозки. Зачастую перевозки негабарита сопровождаются машиной прикрытия, оборудованной проблесковыми маячками и специальными цветографическими схемами и знаками. Для некоторых грузов требуется разработка «спец. маршрута», согласование которого может достигать до нескольких месяцев. 
			p Наша компания высоко ценит надежность и гарантии сохранности груза. Поэтому мы страхуем все перевозимые грузы, независимо от степени риска. Страховой полис включен в стоимость наших услуг. Специалисты компании берут на себя обязательства обеспечить перевозку всеми необходимыми документами и не допустить простоя по этой причине. В процессе согласования наши специалисты тщательно прорабатывают маршрут с учётом локальных требований по максимальной нагрузке на дорожное полотно по пути следования. Благодаря этому риск задержек в пути и нарушения сроков доставки сводится к нулю.

section.transportation-duration
	.container
		.title-3
			h3 От чего зависит срок перевозки
		
		.transportation-duration-wrapper
			.row
				.col-md-4
					.transportation-duration-item
						.card-num 01
						.basic-text
							p При перевозке негабаритных тяжеловесных грузов действуют ограничения скорости движения. На мостах – 15 км/ч, на дорогах и трассах – не более 60 км/ч. Отдельно рассматриваются случаи перевозки в сезон просушки дорог.
				.col-md-4
					.transportation-duration-item
						.card-num 02
						.basic-text
							p Срок выдачи разрешений на провоз крупногабарита может достигать 3 недель с момента обращения. Поэтому оформлением документов нужно заниматься заранее.
				.col-md-4
					.transportation-duration-item
						.card-num 03
						.basic-text
							p Если Вам требуется организовать перевозку, важно правильно подобрать транспортное средство, обеспечить надёжную фиксацию, чтобы избежать потерь в пути и аварийных ситуаций.