.footer {
	padding-top: 35px;
	padding-bottom: 20px;
	background: #F5F5F6;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);

	.row {
		width: 100%;
	}

	.contacts-list {

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-phone {
		font-size: 17px;

		@media(max-width:768px) {
			font-size: 16px;
		}
	}

	.contact-list__icon {

		@media(max-width: 1199px) {
			display: none;
		}
	}

	.contact-phone>.contact-list__icon {
		position: absolute;
		left: -10px;
	}
}

.footer-top {
	padding-bottom: 35px;
	border-bottom: 1px solid #9D9D9D;
}

.footer-nav {


	a {
		position: relative;
	}

	ul {


		a {
			position: relative;
		}
	}

	ul li {
		padding-top: 5px;
		padding-bottom: 5px;

	}
}

.footer-copyright {

	padding-top: 15px;
}

.footer-copyright-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #9D9D9D;
	font-size: 12px;
}

.modal .modal-dialog {
	max-width: 530px;
}

#transportationForm .modal-dialog {
	max-width: 920px;

	.page-btn {
		width: 50%;

		@media(max-width:767px) {
			width: 100%;
		}
	}
}

.modal .modal-content {
	padding: 80px;

	@media(max-width:767px) {
		padding: 40px;
	}

	@media(max-width:580px) {
		padding: 20px;
	}

	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		outline: none;
	}

	.modal-form-title {
		margin-bottom: 45px;

		h5 {
			font-size: 25px;
			font-weight: 700;
		}

	}
}