.header {
	padding: 15px 0;
	background: #F5F5F6;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 20;
	// margin-bottom: 24px;
}

.logo {
	@media(max-width:768px) {
		max-width: 75px;
		margin-right: 7px;
	}
}

.header--main {
	margin-bottom: 80px;

	@media(max-width:767px) {
		margin-bottom: 0px;
	}
}

.navigation-content {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/* NAVIGATION*/
.header-nav {
	ul {
		display: flex;
	}

	@media(max-width: 1199px) {
		position: fixed;
		top: 85px;
		right: 0;
		height: 80px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		transform: translateY(-200%);
		transform: translate(200%, 0%);
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		z-index: -1;

		ul {
			justify-content: center;
			z-index: 5;
		}
	}

	@media(max-width: 580px) {
		height: 100vh;
		align-items: flex-start;
		transform: translate(200%, 0%);

		ul {
			flex-direction: column;
			padding-top: 40px;
		}
	}

}

.header-nav.active {
	z-index: 15;
	transform: translate(0%, 0%);
	transition: .5s;

	@media(max-width:767px) {
		ul {
			text-align: center;

			li {
				font-size: 20px;
				margin-bottom: 15px;
				margin-right: 0;
			}
		}
	}

}

.header-nav ul li {
	margin-right: 40px;


	&:last-child {
		margin-right: 0;
	}
}

.header-nav ul a {
	padding: 5px;
	display: block;
	position: relative;

}

.footer-nav .calc-btn a:after,
.footer-nav ul a:after,
.header-nav ul a:after {
	content: '';
	left: 0;
	width: 0;
	position: absolute;
	bottom: -2px;
	height: 1px;
	background-color: rgba(47, 65, 186, .7);
	transition: .5s;
}

.footer-nav .calc-btn a:hover:after,
.footer-nav ul a:hover:after,
.header-nav ul a:hover:after {
	width: 100%;
}

.header-nav.active a {
	display: block;
	padding: 5px;
	position: relative;
	// padding-left: 30px;
}

/* Контакты в шапке*/


.header .contacts-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media(max-width:580px) {
		i {
			display: none;
		}
	}
}

/* BUTTON CALL*/
.page-btn--header {
	position: relative;

	@media(max-width:767px) {
		position: fixed;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: @orange;
		top: 50%;
		font-size: 12px;
		right: 5px;
		padding: 0;
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
}

@keyframes pulse {
	0% {
		transform: scale(.8)
	}

	50% {
		transform: scale(1)
	}

	75% {
		transform: scale(1)
	}

	100% {
		transform: scale(.8)
	}
}