.benefits-block {
	padding: 20px;
	padding-bottom: 25px;
	background: #F6F7F8;
	border-radius: 10px;

	@media(min-width:992px) {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 42px;
	}

	@media(min-width:1200px) {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 25px;
	}

	.block-img {
		margin-bottom: 25px;

		@media(min-width:1200px) {
			margin-bottom: 0;
		}
	}

	.title-2 {
		margin-bottom: 25px;
	}

	.benefits-table {
		margin-top: 28px;
		display: block;
		justify-content: space-between;
		margin-bottom: 28px;

		@media(min-width:768px) {
			display: flex;
		}

		@media(min-width:1200px) {
			margin-top: 37px;
			margin-bottom: 40px;
		}
	}

	.benefits-item {
		width: 100%;
		margin-bottom: 20px;

		@media(min-width:768px) {
			width: 32%;
			margin-bottom: 0;
		}
	}

	.benefits-title p {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 5px;
	}
}