extends ../layouts/layout.pug

block content
	include ../sections/_about-header.pug
	include ../sections/_about-desk.pug
	include ../sections/_about-service.pug
	include ../sections/_about-project.pug
	include ../sections/_our-team.pug
	include ../sections/_partners.pug
	include ../sections/_calculation.pug
	include ../sections/_footer.pug



block variables
	-var title = "О компании";