extends ../layouts/layout.pug

block content
	include ../sections/_about-header.pug
	include ../sections/_calc-page1.pug
	
	include ../sections/_calculation.pug
	include ../sections/_footer.pug



block variables
	-var title = "Рассчитать стоимость";